<header class="header">
    <div class="header__container">
      <div class="header__body">
        <div class="header__logo">
          <a href="/">
            <img src="https://sebweo.com/wp-content/uploads/2019/06/landshaft-bernskikh-alp-v-yasniy-den_thumb.jpg" alt="">
            <span class="header__title">swsdss</span>
          </a>
        </div>
        <div class="header__menu">
          <ul class="header__list">
            <li>
              <a href="<%= regUrl%>" class="header__link">Регистрация</a>
            </li>
            <li>
              <a href="<%= loginUrl%>" class="header__link">Войти</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>