<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>T</title>
      <link rel="stylesheet" href="../css/styles.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    </head>
    <body>
        <%- include('partials/header', {regUrl:'auth/registration', loginUrl:'auth/login'})%>
      <main>
        <%- include('partials/user', {user:user})%>
        <a href="/addVehicle">back</a>
        <%if(del){%>
            <div>ТС успешно удален из базы данных</div>
            <%}%>
        <form class="delete-form" method="POST" action="/deleteVehicle">
            <h3>Внесите номер ТС которого нужно удалить из базы данных</h3>
            <label for="number">Номер</label><input id="number" name="number" required><br>
            <button type="submit">отправить</button>
          </form>
          <a href="auth/logout">logout</a>
      </main>
    </body>
    </html>