<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>T</title>
      <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <%- include('partials/header')%>
      <main>
          <a href="/">main</a>
          <form method="POST" action="/query2">
            <h3>Введите номер</h3>
            <input name="numb" type="text"> - 
            <button type="submit">отправить</button>
          </form> 
      </main>
    </body>
    </html>